<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToDo App</title>
    </head>
    <body>
        <form method="post" action="/todos/create"> <!--todos is a table-->
            <input type="text" name="description" id="">
            <input type="submit" value="Create">
        </form>
        <ul>
            {% for d in data%}
                <li>{{d.description}}</li>
            {% endfor %}
        </ul>
    </body>
</html>